.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	position: absolute;
	width: 100%;
	height: 100%;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
}

.login-input {
	border-radius: 10px;
	min-height: 40px;
}

.login-button {
	width: 100%;
	border-radius: 10px;
	min-height: 40px;
}

.menu {
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
}

.menu-tile {
	display: flex;
	align-items: center;
	border-radius: 20px;
	background-color: #d9d9d9;
	width: 100%;
	height: 100%;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	font-size: x-large;
	color: black;
	text-decoration: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.menu-container-1 {
	grid-column: 4/10;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.menu-container-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 20px;
	width: 100%;
	height: 25%;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: end;
	column-gap: 10px;
	padding: 15px;
}

.nav-button {
	background-color: #d9d9d9;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	color: black;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

.sale-list {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 20px;
}

.sale-list-item {
	background-color: #d9d9d9;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sale-list-item-part {
	justify-self: center;
}

.sale-list-item-part:nth-child(1) {
	grid-column: 1/2;
}

.sale-list-item-part:nth-child(2) {
	grid-column: 4/7;
}

.sale-list-item-part:nth-child(3) {
	grid-column: 10/11;
}

.sale-list-item-part:nth-child(4) {
	grid-column: 12/13;
}

.supply-item {
	background-color: #d9d9d9;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.supply-item-part {
	justify-self: center;
}

.supply-item-part:nth-child(1) {
	grid-column: 1/2;
}

.supply-item-part:nth-child(2) {
	grid-column: 4/7;
}

.supply-item-part:nth-child(3) {
	grid-column: 12/13;
}

.product-item {
	background-color: #d9d9d9;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.product-item-main {
	grid-column: 2/13;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	align-items: center;
	justify-self: stretch;
}

.product-item-part {
	grid-column: 1/2;
	justify-self: center;
}

.product-item-main-part {
	justify-self: center;
}

.product-item-main-part:nth-child(1) {
	grid-column: 1/5;
	justify-self: start;
}

.product-item-main-part:nth-child(2) {
	grid-column: 5/6;
}

.product-item-main-part:nth-child(3) {
	grid-column: 7/8;
}

.product-item-main-part:nth-child(4) {
	grid-column: 9/10;
}

.product-item-main-part:nth-child(5) {
	grid-column: 11/12;
}

.sale-item {
	background-color: #d9d9d9;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sale-item-part {
	grid-column: 1/2;
	justify-self: center;
}

.sale-item-main {
	grid-column: 2/13;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	align-items: center;
	justify-self: stretch;
}

.sale-item-main-part {
	justify-self: center;
}

.sale-item-main-part:nth-child(1) {
	grid-column: 1/4;
	justify-self: start;
}

.sale-item-main-part:nth-child(2) {
	grid-column: 4/7;
}

.sale-item-main-part:nth-child(3) {
	grid-column: 7/8;
}

.sale-item-main-part:nth-child(4) {
	grid-column: 8/9;
}

.sale-item-main-part:nth-child(5) {
	grid-column: 9/10;
}

.sale-item-main-part:nth-child(6) {
	grid-column: 10/11;
}

.sale-item-main-part:nth-child(7) {
	grid-column: 11/12;
}

.new-product {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-self: center;
}

.flex {
	display: flex;
	flex-direction: column;
}
